
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

{% block header %}
<!-- Bootstrap Core CSS -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" />
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/icon-font.min.css') }}" type='text/css' />
<!-- //lined-icons -->

<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>

{% endblock %}

</head>
<body ng-app="myapp" style="height:100%;overflow: hidden;">
   <div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	   <div class="inner-content">
		<!-- header-starts -->
                <div class="header-section">
                            <!-- top_bg -->
                                <div class="top_bg">

                                        <div class="header_top">
                                            <div class="top_right">
                                                <ul>
                                                    <li><a href="contact.html">help</a></li>|
                                                    <li><a href="contact.html">Contact</a></li>|
                                                    <li><a href="checkout.html">Delivery information</a></li>
                                                </ul>
                                            </div>
                                            <div class="top_left">
                                                <h2><span></span> Call us : 032 2352 782</h2>
                                            </div>
                                                <div class="clearfix"> </div>
                                        </div>

                                </div>
                            <div class="clearfix"></div>
                        <!-- /top_bg -->
                        </div>
                <!-- //header-ends -->
				<!--content-->
			<div class="content-top">
                <div class="col-md-12">
						<div class="panel panel-widget">
							<div class="panel-title">
                                <div style="width: 100%; height: 90%; overflow: auto">
                                <i class="fa fa-android"></i>{% block subtitle %} {% endblock %}
                                {% block content %}{% endblock %}
                                    </div>
							</div>
							<div class="panel-body">
								<!-- status -->
								<div class="contain">
									<div class="gantt"></div>
								</div>
								<!-- status -->
							</div>
                        </div>
					</div>

				<!--//content-inner-->
			<!--/sidebar-menu-->
                <div class="sidebar-menu">
                        <header class="logo1">
                            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
                        </header>
                            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                               <div class="menu">
                                        <ul id="menu" >
                                            <li><a href="/"><i class="fa fa-tachometer"></i> <span>Home</span></a></li>
                                             <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Drebin</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                               <ul id="menu-academico-sub" >
                                               <li id="menu-academico-avaliacoes" ><a href="shoes.html">Virustotal</a></li>
                                                <li id="menu-academico-avaliacoes" ><a href="products.html">Google Play</a></li>
                                                <li id="menu-academico-boletim" ><a href="sunglasses.html">My workspace</a></li>
                                              </ul>
                                            </li>
                                             <li id="menu-academico" ><a href="sunglasses.html"><i class="fa fa-file-text-o"></i> <span>Malgenome</span></a></li>
                                        <li><a href="sweater.html"><i class="lnr lnr-pencil"></i> <span>Virustotal</span></a></li>
                                        <li id="menu-academico" ><a href="catalog.html"><i class="fa fa-file-text-o"></i> <span>Google Play</span></a></li>
                                        <li id="menu-academico" ><a href="shoes.html"><i class="lnr lnr-book"></i> <span>Gifeng</span></a></li>
                                         <li><a href="bags.html"><i class="lnr lnr-envelope"></i> <span>Mysubmit</span></a></li>
                                        <li><a href="products.html"><i class="lnr lnr-chart-bars"></i> <span>Community Published</span></a></li>
                                      </ul>
                                    </div>
                                  </div>

                <script>
                    var toggle = true;

                    $(".sidebar-icon").click(function() {
                      if (toggle)
                      {
                        $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                        $("#menu span").css({"position":"absolute"});
                      }
                      else
                      {
                        $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                        setTimeout(function() {
                          $("#menu span").css({"position":"relative"});
                        }, 400);
                      }

                                    toggle = !toggle;
                                });
                </script>
							  <div class="clearfix"></div>
            </div>
       </div>
    </div>
   </div>

{% block footer %}
<!--js -->
<script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
   <!-- /Bootstrap Core JavaScript -->
   <!-- real-time -->
<!-- /real-time -->
<script src="{{ url_for('static', filename='js/menu_jquery.js') }}"></script>
{#    <script src="{{ url_for('static', filename="js/myAngjs.js") }}"></script>#}
{% endblock %}

</body>
</html>

