

{% extends "base.html" %}

{% block title %} family Page{% endblock %}


{% block subtitle %}Samples{% endblock %}

{% block content %}
    <table class="table table-condensed table-bordered table-stripped table-responsive table-hover" style="table-layout:fixed;
        width: 100%;max-width: 100%;">
        <tbody class="family-tbody">
            {% for i in range(0, rownum) %}
                    <tr>
                        {% for j in range(0, colnum) %}
                            {% if (i*colnum+j) >= infolen %} {% break %} {% endif %}
                            <td bgcolor="#e0e0e0"  style="font-size: 14px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;
padding-top: 5px;padding-bottom: 5px;">{{ info[i*colnum+j]['title'] }}
{#                                <span class="fa fa-angle-right" style="float:right"></span>#}
                        {% endfor %}
                    </tr>
                <tr>
                        {% for j in range(0, colnum) %}
                            {% if (i*colnum+j) >= infolen %} {% break %} {% endif %}
                            <td style="text-align: center;">
                            <img src= {{ "/static/"  + info[i*colnum+j]['pngsrc'] }} title="{{ info[i*colnum+j]['title'] }}"
                class="thumbimg" style="width: 160px;height: 160px; border:2px solid #b52e31;"
                            onclick="appDetail('{{ 'c' + info[i*colnum+j]['title'] + ".gexf" }}', '{{ 'c' + info[i*colnum+j]['title']+".j" }}', '{{ fname }}')" />
                            </td>
                        {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
{{ super() }}
    <script>
        var detailUrl = "/appdetail";
        function appDetail(gexf, json, fname) {
            window.location.href = detailUrl + "?fname=" + fname + "&gexf=" + gexf + "&json=" + json;
        }
    </script>
{% endblock %}